In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Reviews.csv')

In [3]:
df

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [4]:
df1=df.copy()

In [5]:
df1.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [6]:
df2=df1.drop(columns=['Id','ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator','HelpfulnessDenominator','Time'])

In [7]:
df2

,Score,Summary,Text
0,5,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,4,"""Delight"" says it all",This is a confection that has been around a fe...
3,2,Cough Medicine,If you are looking for the secret ingredient i...
4,5,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...
568449,5,Will not do without,Great for sesame chicken..this is a good if no...
568450,2,disappointed,I'm disappointed with the flavor. The chocolat...
568451,5,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,5,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,5,Great Honey,"I am very satisfied ,product is as advertised,..."

In [8]:
df2['combined_text']=df2['Summary']+'. '+df2['Text']

In [9]:
df2.drop(columns=['Summary','Text'],inplace=True)

In [10]:
df2

        Score                                      combined_text
0           5  Good Quality Dog Food. I have bought several o...
1           1  Not as Advertised. Product arrived labeled as ...
2           4  "Delight" says it all. This is a confection th...
3           2  Cough Medicine. If you are looking for the sec...
4           5  Great taffy. Great taffy at a great price.  Th...
...       ...                                                ...
568449      5  Will not do without. Great for sesame chicken....
568450      2  disappointed. I'm disappointed with the flavor...
568451      5  Perfect for our maltipoo. These stars are smal...
568452      5  Favorite Training and reward treat. These are ...
568453      5  Great Honey. I am very satisfied ,product is a...

[568454 rows x 2 columns]

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Score          568454 non-null  int64
 1   combined_text  568427 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.7+ MB

In [12]:
df2.isnull().sum()

Score             0
combined_text    27
dtype: int64

In [13]:
df2.dropna(inplace=True)

In [14]:
df2.isnull().sum()

Score            0
combined_text    0
dtype: int64

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568427 entries, 0 to 568453
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Score          568427 non-null  int64
 1   combined_text  568427 non-null  object
dtypes: int64(1), object(1)
memory usage: 13.0+ MB

In [16]:
df2[df2['Score']>3].count()

Score            443777
combined_text    443777
dtype: int64

In [17]:
df2[df2['Score']<3].count()

Score            82012
combined_text    82012
dtype: int64

In [18]:
df2[df2['Score']==3].count()

Score            42638
combined_text    42638
dtype: int64

In [19]:
df2['score']=np.where(df2['Score']>3,'positive',np.where(df2['Score']==3,'neutral','negative'))

In [20]:
df2

        Score                                      combined_text     score
0           5  Good Quality Dog Food. I have bought several o...  positive
1           1  Not as Advertised. Product arrived labeled as ...  negative
2           4  "Delight" says it all. This is a confection th...  positive
3           2  Cough Medicine. If you are looking for the sec...  negative
4           5  Great taffy. Great taffy at a great price.  Th...  positive
...       ...                                                ...       ...
568449      5  Will not do without. Great for sesame chicken....  positive
568450      2  disappointed. I'm disappointed with the flavor...  negative
568451      5  Perfect for our maltipoo. These stars are smal...  positive
568452      5  Favorite Training and reward treat. These are ...  positive
568453      5  Great Honey. I am very satisfied ,product is a...  positive

[568427 rows x 3 columns]

In [21]:
data_p=df2[df2['score']=='positive']

In [22]:
data_p.drop('Score',axis=1,inplace=True)

/var/folders/sz/0j8qkd414cbf6_yv7zr2wgb00000gn/T/ipykernel_3896/414695484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_p.drop('Score',axis=1,inplace=True)

In [23]:
dp=data_p.sample(50000,ignore_index=True)

In [24]:
data_n=df2[df2['score']=='negative']

In [25]:
data_n.drop('Score',axis=1,inplace=True)

/var/folders/sz/0j8qkd414cbf6_yv7zr2wgb00000gn/T/ipykernel_3896/880412298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_n.drop('Score',axis=1,inplace=True)

In [26]:
dn=data_n.sample(50000,ignore_index=True)

In [27]:
dp

                                           combined_text     score
0      Delicious Alternative. I'm not sure why it is ...  positive
1      Loves liver treats. These Stewarts Liver treat...  positive
2      Good product, but prefer Keurig. I used to hav...  positive
3      Delicious!. I usually purchase this in store f...  positive
4      no chemical aftertaste. This is the best powde...  positive
...                                                  ...       ...
49995  UUMM,GOOD. Love these cookies, and in quanity,...  positive
49996  Good for aggressive chewers. Solidly made, goo...  positive
49997  salty but good. it wasn't bad for the price.  ...  positive
49998  great product. The colors are so strong-a litt...  positive
49999  Amazingly light & Delicately sweet. The first ...  positive

[50000 rows x 2 columns]

In [28]:
dn

                                           combined_text     score
0      Disappointing for a Slim Jim lover. White tras...  negative
1      Not worth the price!. I ordered this product e...  negative
2      Utter Crap, Not same as store, low quality. Pr...  negative
3      Yuck. I was shocked at how small the boxes of ...  negative
4      not a strong tea. Requires more tea for taste ...  negative
...                                                  ...       ...
49995  EWWW. I like green tea but this is overly swee...  negative
49996  Didn't last 6 minutes. I purchased this produc...  negative
49997  Doesn't make the mustard. I'm an avid fan of t...  negative
49998  Look elsewhere. You don't get much for $15.97,...  negative
49999  disappointed. Having had some delicious Jalape...  negative

[50000 rows x 2 columns]

In [29]:
d=df2[df2['score']=='neutral']

In [30]:
d.drop('Score',axis=1,inplace=True)

/var/folders/sz/0j8qkd414cbf6_yv7zr2wgb00000gn/T/ipykernel_3896/2448780744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.drop('Score',axis=1,inplace=True)

In [31]:
dff=pd.concat([dp,dn,d],ignore_index=True)

In [32]:
dff

                                            combined_text     score
0       Delicious Alternative. I'm not sure why it is ...  positive
1       Loves liver treats. These Stewarts Liver treat...  positive
2       Good product, but prefer Keurig. I used to hav...  positive
3       Delicious!. I usually purchase this in store f...  positive
4       no chemical aftertaste. This is the best powde...  positive
...                                                   ...       ...
142633  This is Earl Grey!???. An admitted fan of Stas...   neutral
142634  Just OK. I hadn't tried this taco seasoning pr...   neutral
142635  Smell delightful, taste not so much. I picked ...   neutral
142636  Agave Nectar. It's great to have agave in a po...   neutral
142637  Pacific Chai-Coconut. This version of Pacific ...   neutral

[142638 rows x 2 columns]

In [33]:
from sklearn.utils import shuffle

# Shuffle the dataset
dff = shuffle(dff, random_state=42)

# Display the first few rows to check the shuffling
print(dff.head())

                                            combined_text     score
57976   really?. Well I read the ingredient list. If I...  negative
99479   Wasn't what I expected. These are too large fo...  negative
142492  Not as Much Extra Nutrition as It Touts - But ...   neutral
130790  Cement clumping litter. I bought this because ...   neutral
39813   Great South African tea. I was brought up drin...  positive

In [34]:
data=dff.reset_index()

In [35]:
data.drop('index',axis=1,inplace=True)

In [36]:
data['score'].value_counts()

score
negative    50000
positive    50000
neutral     42638
Name: count, dtype: int64

In [37]:
data

                                            combined_text     score
0       really?. Well I read the ingredient list. If I...  negative
1       Wasn't what I expected. These are too large fo...  negative
2       Not as Much Extra Nutrition as It Touts - But ...   neutral
3       Cement clumping litter. I bought this because ...   neutral
4       Great South African tea. I was brought up drin...  positive
...                                                   ...       ...
142633  Not the best in Green Tea or English Tea. I bo...   neutral
142634  Not bad - some are better. Bought this before ...   neutral
142635  Interesting, but not a destination. This drink...   neutral
142636  Mrs. May'sTrio Bars. I enjoy this product very...   neutral
142637  So-so for bread machines (and advice from the ...   neutral

[142638 rows x 2 columns]

In [38]:
data.iloc[0]

combined_text    really?. Well I read the ingredient list. If I...
score                                                     negative
Name: 0, dtype: object

In [39]:
data

                                            combined_text     score
0       really?. Well I read the ingredient list. If I...  negative
1       Wasn't what I expected. These are too large fo...  negative
2       Not as Much Extra Nutrition as It Touts - But ...   neutral
3       Cement clumping litter. I bought this because ...   neutral
4       Great South African tea. I was brought up drin...  positive
...                                                   ...       ...
142633  Not the best in Green Tea or English Tea. I bo...   neutral
142634  Not bad - some are better. Bought this before ...   neutral
142635  Interesting, but not a destination. This drink...   neutral
142636  Mrs. May'sTrio Bars. I enjoy this product very...   neutral
142637  So-so for bread machines (and advice from the ...   neutral

[142638 rows x 2 columns]

In [40]:
data = pd.get_dummies(data, columns=['score'])

In [41]:
data

,combined_text,score_negative,score_neutral,score_positive
0,really?. Well I read the ingredient list. If I...,True,False,False
1,Wasn't what I expected. These are too large fo...,True,False,False
2,Not as Much Extra Nutrition as It Touts - But ...,False,True,False
3,Cement clumping litter. I bought this because ...,False,True,False
4,Great South African tea. I was brought up drin...,False,False,True
...,...,...,...,...
142633,Not the best in Green Tea or English Tea. I bo...,False,True,False
142634,Not bad - some are better. Bought this before ...,False,True,False
142635,"Interesting, but not a destination. This drink...",False,True,False
142636,Mrs. May'sTrio Bars. I enjoy this product very...,False,True,False
142637,So-so for bread machines (and advice from the ...,False,True,False

In [42]:
data['score_negative']=data['score_negative'].astype('int')
data['score_positive']=data['score_positive'].astype('int')
data['score_neutral']=data['score_neutral'].astype('int')

In [43]:
data

,combined_text,score_negative,score_neutral,score_positive
0,really?. Well I read the ingredient list. If I...,1,0,0
1,Wasn't what I expected. These are too large fo...,1,0,0
2,Not as Much Extra Nutrition as It Touts - But ...,0,1,0
3,Cement clumping litter. I bought this because ...,0,1,0
4,Great South African tea. I was brought up drin...,0,0,1
...,...,...,...,...
142633,Not the best in Green Tea or English Tea. I bo...,0,1,0
142634,Not bad - some are better. Bought this before ...,0,1,0
142635,"Interesting, but not a destination. This drink...",0,1,0
142636,Mrs. May'sTrio Bars. I enjoy this product very...,0,1,0
142637,So-so for bread machines (and advice from the ...,0,1,0

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142638 entries, 0 to 142637
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   combined_text   142638 non-null  object
 1   score_negative  142638 non-null  int64
 2   score_neutral   142638 non-null  int64
 3   score_positive  142638 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.4+ MB

In [45]:
x=data[['combined_text']]
y=data[['score_positive','score_negative','score_neutral']]

In [46]:
x

                                            combined_text
0       really?. Well I read the ingredient list. If I...
1       Wasn't what I expected. These are too large fo...
2       Not as Much Extra Nutrition as It Touts - But ...
3       Cement clumping litter. I bought this because ...
4       Great South African tea. I was brought up drin...
...                                                   ...
142633  Not the best in Green Tea or English Tea. I bo...
142634  Not bad - some are better. Bought this before ...
142635  Interesting, but not a destination. This drink...
142636  Mrs. May'sTrio Bars. I enjoy this product very...
142637  So-so for bread machines (and advice from the ...

[142638 rows x 1 columns]

In [47]:
y

        score_positive  score_negative  score_neutral
0                    0               1              0
1                    0               1              0
2                    0               0              1
3                    0               0              1
4                    1               0              0
...                ...             ...            ...
142633               0               0              1
142634               0               0              1
142635               0               0              1
142636               0               0              1
142637               0               0              1

[142638 rows x 3 columns]

In [48]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=42)

In [49]:
print(X_train)

                                            combined_text
10979   I like corn pasta better.. Just a personal pre...
96865   Taste is okay. It's okay but it does not have ...
3368    Odd taste. I don't know what taste I was expec...
73991   Velvet Moon? Don't drink after dark!. I was a ...
61363   It was just OK and this coming from a chocolat...
...                                                   ...
103958  less than I ordered. The ad says 30 regular gr...
57964   What a LOVELY Matcha Experience!. I love laven...
96099   Kookoo for coconuts!. Wow...this is a delightf...
44452   Obey Training Treats. These training treats ar...
70666   Rainbow jimmies. I used these rainbow jimmies ...

[114110 rows x 1 columns]

In [50]:
y_train.value_counts()

score_positive  score_negative  score_neutral
0               1               0                40000
1               0               0                40000
0               0               1                34110
Name: count, dtype: int64

In [51]:
y_test.value_counts()

score_positive  score_negative  score_neutral
0               1               0                10000
1               0               0                10000
0               0               1                 8528
Name: count, dtype: int64

In [52]:
import spacy

In [53]:
nlp=spacy.load("en_core_web_sm")

In [54]:
def preprocess(text):
    data_cleaned=[]
    for token in nlp(text):
        if not token.is_stop or token.is_punct:
            data_cleaned.append(str(token))
    return ' '.join(data_cleaned)

In [ ]:
X_train['combined_text1']=X_train['combined_text'].apply(preprocess)

In [ ]:
X_train['combined_text1']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Vectorize the text data
vectorizer = TfidfVectorizer(stop_words='english')
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [ ]:
print(len(vectorizer.get_feature_names_out()))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Train the model
model = RandomForestClassifier(class_weight='balanced', random_state=42)
model.fit(X_train_tfidf, y_train)

In [ ]:
from sklearn.metrics import classification_report

# Predict on the test set
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
print(classification_report(y_test, y_pred))